body{
	margin:0px; 
	padding:0px;
}

#page-wrapper{
	margin:0px auto;
}
.header-wrapper{
	width:100%;
	background: #e4e4e4;
	margin:0px;
	border-bottom:1px solid #999;
	margin-bottom:10px;
}
.header{
	margin:0px auto;
	width:960px;
	padding-top:10px;
	padding-bottom:10px;
}
#content-wrapper{
	margin:0px auto;
	margin-bottom:10px;
	width:960px;
	min-height:700px;
}
.container {
    width: 300px;
}
      /* The white background content wrapper */
.container > .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; 
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.login-form {
	margin-left: 65px;
}

form .error { 
	color:#FE2E2E;
}
	
legend {
	margin-right: -50px;
	font-weight: bold;
	color: #404040;
}

#footer{
	width:100%;
	height:100px;   /* Height of the footer */
	background: #e4e4e4;
	border-top:1px solid #999;
}
